* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loadButton {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  height: 30px;
  width: 40;
}

.preloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.preloader-container img {
  height: 300px;
}
